@model FormularPaygateAPI.Models.Amount

@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Página de pago</title>
</head>
<body>
    <form asp-action="ProcessPayment" method="post">

        <label asp-for="transID">TRANSID:</label>
        <input asp-for="transID" type="text" id="transID" name="transID"><br><br>

        <label asp-for="amount">AMOUNT:</label>
        <input asp-for="amount" type="text" id="amount" name="amount"><br><br>

        <label asp-for="currency">CURRENCY:</label>
        <input asp-for="currency" type="text" id="currency" name="currency"><br><br>

        <input type="submit" value="CONFIRM">
    </form>
</body>
</html>

